body { 
    max-width: 960px;
    font-size: 18px;
    font-family: arial,sans-serif;
    background-color: #333a4c;
}
header, main {
    display: flex;
    flex-direction: row;
}
/*1col*/

figure, aside{
    width: 260px;
    margin: 30px 0px 0px;  
}
#avatar {   
    border-radius: 50%; 
    width: 180px;
    margin: auto; 
}
aside {
    color: whitesmoke;    
    font-size: 14px;
}
.sidebar_headline {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-size: 16px;
}
#contacts, #languages, #education, .education_info {
    padding-left: 1vw;
    list-style-type: none;
}
.location {   
    position: relative;
}
.location iframe {
    height: 400px;
    width: 60vw;
    left: 0;
    top: 0;
}
#myText, .location{
    text-decoration: underline;
}
#myText:hover, .location:hover{
    cursor: pointer;
}
.linkedLink, .certLink, .certLink:visited, .certLink:hover {
    color: whitesmoke;
}
/*2col*/
#headline, section {
    background-color: rgb(248, 248, 248);   
    width: 660px;
    padding: 0px 10px;   
}
#full_name {
    font-size: 50px;
    padding: 35px 0px 15px;
    text-transform: uppercase;
}
.section_headline {
    text-transform: uppercase;
}
.skills, .project-list, .submenu, .work-list {
    list-style-type: none;
    font-size: 17px;
}
.menu {
    cursor: pointer;
}
.project-link, .project-link:visited{
    color: black;
    text-decoration:none;
}
.project-link:hover {
    color: black;
    text-decoration: underline;
}


@media (max-width: 850px) {
    header, main {
        flex-direction: column;
        align-items: center;
    }
    figure, aside, #headline, section{
        width: 100%;
        padding: 20px;  
    }
    #full_name {
        font-size: 32px;
        margin: 0px;
        padding: 0px;
        text-transform: uppercase;
    }
}


@media (min-width: 1600px) {
    body { 
        max-width: 1960px;
        font-size: 65px;
    }
    figure, aside{
        width: 1260px;
        margin: 30px 0px 0px;  
    }
    #avatar {   
        width: 400px; 
    }
    aside {   
        font-size: 36px;
    }
    .sidebar_headline {
        font-size: 42px;
    }
    .location iframe {
        height: 1400px;
        width: 60vw;
    }
    #headline, section {  
        width: 1660px; 
    }
    #full_name {
        font-size: 80px;
    }
    .skills, .project-list, .submenu, .work-list {
        font-size: 48px;
    }  
}
